@charset "utf-8";

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

#wrapper {
    width: 100%;
    background-color: #f4f4f4;
}


/* -------　header　------- */

header {
    height: 667px;
    background-image: url(../images/taipei_sp_hero.jpg);
    position: relative;
    padding: 0 20px;
    z-index: 90; /* 追記 */
}
header h1 img { /* TAIWANロゴ位置です */
    position: absolute;
    top: 3px;
    width: 111px;
}
header .placeLogo { /* 文字ロゴ位置です */
    position: absolute;
    top: 120px;
    right: 88px;
    width: 199px;
}
header .snsIcon { /* SNSアイコン位置です */
    position: absolute;
    left: 20px;
    bottom: 70px;
    width: 39px;
}
header .snsIcon img {
    margin-top: 20px;
    width: 39px;
}
header .snsIcon img:hover {
    opacity: 0.5;
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}
header .text { /* テキスト位置です */
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 247px;
    font-size: 12px;
    font-weight: bold;
    line-height: 19.2px;
    color: #fff;
}
header .menuButton {
    position: absolute;
    width: 48px;
    top: 4px;
    right: 4px;
}



/* -------　main　------- */


/* 共通 */

#attraction, #market {
    margin: 0 20px; /* -- section全体のマージン -- */
    padding: 0 20px;
}


h2 {
    font-size: 24.12px;
    text-align: center;
    width: 220px;
    height: 40px;
    background-image: url(../images/heading_sp.svg);
    margin: 20px auto 40px auto;
    padding-top: 8px;
}
h2 span {
    font-size: 12px;
}
h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    padding: 1px;
}
.pan {
    width: 100%;
    font-size: 16px;
    height: 32px;
    padding: 8px 20px;
    border-bottom: 1px solid #000;
}
.pan a:hover {
    text-decoration: underline;
}
.mainPic img {
    width: 295px;
}
.subPic img {
    width: 137.5px;
    height: 225px;
    margin-right: 20px;
    object-fit: cover;
}
.solidLine {
    display: inline-block; /* -- margin相殺回避用 -- */
    width: 223px;
    margin: 20px 35px 20px 35px;
    box-shadow: 0 0 0 0.3px #000;
}



/* ------- attraction ------- */

#attraction .mainPic,
#attraction .subPic {
    margin-bottom: 20px; /* -- picのマージン -- */
}
#attraction .text {
    background-color: rgba(108, 186, 216, 0.2);
    padding: 8px 36px;
    font-size: 12px;
    line-height: 19.2px;
    margin-bottom: 20px; /* -- textのマージン -- */
}
#attraction .text .time {
    text-align: center;
}
#attraction .text .time span {
    font-weight: bold;
    margin-top: 8px;
}

/* 九份 */
.Jiufen {
    margin-bottom: 40px;
}



/* ------- market ------- */

.market01, .market02 {
    margin-bottom: 20px;
}
.market01 .text {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f4f4f4;
    width: 222px;
    font-size: 12px;
    line-height: 19.2px;
    margin: 40px auto;
    padding: 12px 0;
}
.market01 .pic img {
    width: 183px;
    height: 122px;
    object-fit: cover;
    margin-left: 56px; /* 中央寄せ */
    margin-bottom: 20px;
}
.market02 .pic img {
    width: 183px;
    height: 122px;
    object-fit: cover;
    margin-left: 56px; /* 中央寄せ */
}


/* モーダルへのボタン */
#market .buttonWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 295px;
    margin-bottom: 18px;
}
#market .buttonWrapper .button {
    position: relative;
    width: 131.5px; /* 子要素のwidth大切 */
    height: 48px;
}
#market .buttonWrapper .button:nth-child(1) {
    margin-bottom: 32px;
}
#market .buttonWrapper .button:nth-child(2) {
    margin-bottom: 32px;
}
#market .buttonWrapper a {
    background-image: url(../images/heading_button_sp.svg);
    background-repeat: no-repeat;
    display: block;
    width: 131.5px;
    height: 48px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
}



/* ------- access ------- */

h4 {
    width: 223px;
    font-size: 12px;
    text-align: center;
    padding: 12px 15px;
    margin: 0 auto;
    border-bottom: 0.3px solid #000;
}
#access .text {
    width: 225px;
    font-size: 12px;
    line-height: 19.2px;
    margin: 0 auto;
}
#access .text div {
    margin-bottom: 20px;
}
#access .card {
    width: 225px;
    margin: 0 auto 60px auto;
}
#access .card img {
    width: 95px;
    margin-left: 64px; /* 中央寄せ */
}
#access .maxImg img {
    width: 335px;
    height: 134px;
    margin: 40px 20px;
}




/* -------　footer　------- */

footer {
    background-color: #007ab7;
    color: #ffff;
    margin: 0 auto;
    text-align: center;
}
.footerMenu {
    font-size: 12px;
    line-height: 12px;
    width: 195px;
    margin:20px auto;
}
footer nav li {
    border-bottom: 1px solid #FFFFFF;
    text-align: left;
    margin-top: 8px;
    padding-bottom: 8px;
    padding-top:4px;
}
footer nav ul li a:hover {
    text-decoration: underline;
}

.footerflag {
    width: 32px;
    height: 24px;
    margin-top: 20px;
}
.footerlogo img{
    width:71px;
    height: 28px;
    float: left;
    margin-right: 24px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 12px;
}
.snsIconSpace img {
    padding: 8px;
    padding-bottom: 12px;
}

.footerImgSpace {
    display: flex;
    text-align: center;
}
.Copyright {
    border-top: 1px solid #03A9F4;
    height: 34px;
}
footer .Copyright p {
    font-size: 10px;
    padding-top: 12px;
    font-weight: normal;
}




/* -------　modal　------- */

#modal .modalWrapper {
    text-align: center;
    margin: 0 auto;
}
#modal .modalContainer {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(1, 128, 190, 0.9);
    color: #fff;
    z-index: 10;
}
#modal .modalContainer .modalClose {
    width: 28px;
    margin: 8px 8px 0 auto;
    position: absolute;
    top: 8px;
    right: 8px;
}
#modal .modalContainer h3 {
    margin: 0;
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
}
#modal .modalContainer .modalPic {
    margin-top: 32px;
    width: 335px;
    height: 223px;
}
#modal .modalContainer .modalText {
    width: 335px;
    padding: 20px 16px;
    font-size: 12px;
    line-height: 19.2px;
    font-weight: bold;
    margin: 0 auto;
}
#modal .modalContainer .modalTextTime {
    text-align: center;
    font-size: 12px;
    line-height: 19.2px;
    font-weight: bold;
}


/* -------　topへ戻るボタン　------- */
.pagetop {
    cursor:pointer;
    height: 48px;
    width: 48px;
    position: fixed;
    right: 4px;
    bottom: 30px;
    display: flex;
    z-index: 2;
}




/* -------　loading sign　------- */

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-image: url(../../images/loadingSP.gif);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999;
    background-color: #007AB7;
}
 

 







/* -------　menu　------- */

@media screen and (max-width: 768px) {

    #nav{
        position:fixed;
        top:0;
        right: -120%;
        width: 225px;
        height: 100vh;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        transition: all 0.6s;
    }
    #nav .logo img {
        width: 101px;
        margin: 8px 0 84px 12px;
    }
    #nav .menuButton img {
        position: absolute;
        width: 48px;
        top: 4px;
        right: 4px;
    }
    #nav ul {
        text-align: center;
    }
    #nav ul li {
        font-size: 20px;
        font-weight: bold;
    }
    #nav ul li:first-of-type {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    #nav ul li a {
        display: block;
        padding: 10px;
        text-decoration: 1px underline #fff;
    }
    #nav li:nth-child(2) {
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    #nav li:nth-child(5) {
        margin-bottom: 40px;
    }
    #nav li:nth-child(6) {
        margin-bottom: 40px;
        text-decoration: 1px underline #fff;
    }
    #nav li:nth-child(7) {
        text-decoration: 1px underline #fff;
    }
    
    /*---  navを表示させる ---*/
    #nav.show {
        right: 0;
    }
}




/* -------　PC　------- */

@media screen and (min-width: 768px) {


    #wrapper {
        width: 100%;
    }


    /* -------　header　------- */

    header {
        height: 768px;
        background-image: url(../images/taipei_pc_hero.jpg); 
        background-size: cover;
        /* position: relative; */
        padding: 0 83px; /* ---  header大枠のパディング  --- */
    }
    header h1 img {
        width: 133px;
        display: none;
    }
    header .placeLogo { /* 文字ロゴ位置です */
        top: 94px;
        left: 363px;
    }
    header .placeLogo img { /* 文字ロゴサイズ調整　追記 */
        width: 300px;
    }
    header .snsIcon { /* SNSアイコン位置です */
        left: 103px;
        bottom: 80px;
    }
    header .snsIcon img {
        margin-top: 40px;
        width: 39px;
    }
    header .text { /* テキスト位置です */
        right: 103px;
        bottom: 20px;
        width: 467px;
        font-size: 20px;
        font-weight: bold;
        line-height: 32px;
    }


    /* -------　menu　------- */
    .menuButton {
        display: none;
    }
    #nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 54px;
        padding-top: 80px;
    }
    #nav img {
        width: 133px;
    }
    #nav ul {
        display: flex;
    }
    #nav li {
        margin-left: 20px;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
    #nav li:nth-child(1) {
        display: none;
    }
    #nav ul li a:hover {
        text-decoration: underline;
    }



    /* -------　main　------- */

    /* 共通 */
    main {
        margin: 0 83px; /* ---  main大枠のマージン  --- */
    }
    .solidLine {
        width: 480px;
        margin: 80px 360px 80px 360px;
    }
    .pan {
        width: 100vw;
        margin: 0 calc(50% - 50vw); /* --- 100vwをずらさない為に必要 --- */
        font-size: 20px;
        height: 60px;
        padding: 20px 130px;
        border-bottom: 1px solid #000;
    }
    h2 {
        font-size: 48.24px;
        text-align: center;
        width: 530px;
        height: 96px;
        background-image: url(../images/heading_pc.svg);
        padding-top: 24px; /* 位置調整 */
        margin: 20px auto 60px 0;
    }
    h2 span {
        font-size: 24px;
    }
    h3 {
        font-size: 36px;
        font-weight: bold;
        margin: 20px 0;
        text-align: left;
    }
    #attraction .attractionWrapper {
        display: flex;
    }
    .mainPic img {
        width: 600px;
        height: 360px;
        margin-right: 20px;
        object-fit: cover;
    }
    .subPic img {
        width: 290px;
        height: 167px;
        margin-right: 20px;
        object-fit: cover;
    }
    #attraction .text {
        width: 500px;
        padding: 20px 40px;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px; /* -- textのマージン -- */
    }
    #attraction .text p { /* -- さらにpの横幅指定 -- */
        width: 420px;
    }
    #attraction .time span {
        padding-top: 40px;
        display: inline-block;
    }



    /* ------- market ------- */

    #market h2 {
        margin: 20px 0 80px auto;
    }
    #market .pic img {
        width: 540px;
        height: 264px;
        object-fit: cover;
        margin-left: 120px; /* 左右の位置調整 */
    }
    .market01, .market02 {
        display: flex;
    }
    .market01 .text {
        width: 420px;
        font-size: 20px;
        line-height: 32px;
        padding: 36px 0;
        margin-top: 0;
    }


    /* ------- market02 モーダルボタン ------- */
    #market .buttonWrapper {
        width: 460px;
        /* margin-right: 40px; */
        /* flex-basis: 50%; */
    }
    #market .buttonWrapper .button {
        position: relative;
        width: 210px; /* 子要素のwidth大切 */
        height: 90px;
        margin-bottom: 32px;
    }
    #market .buttonWrapper .button a {
        background-image: url(../images/heading_button.svg);
        background-repeat: no-repeat;
        font-size: 18px;
        width: 210px;
        height: 90px;
        top: 80%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        padding: 36px 20px;
    }





    /* ------- modal ------- */

    #modal .modalWrapper {
        display: flex;
        justify-content: space-between;
        width: 1160px;
        margin: 0 auto;
    }
    #modal .modalContainer h3 {
        padding-top: 40px;
        font-size: 36px;
        font-weight: bold;
    }
    #modal .modalContainer .modalPic {
        margin-top: 20px;
        width: 600px;
        height: 468px;
    }
    #modal .modalContainer .modalText {
        width: 500px;
        font-size: 20px;
        line-height: 32px;
        font-weight: bold;
        margin-top: 80px;
    }
    #modal .modalContainer .modalTextTime {
        text-align: center;
        font-size: 20px;
        line-height: 32px;
        font-weight: bold;
    }
    







    /* ------- access ------- */

    h4 {
        width: 420px;
        font-size: 24px;
        text-align: left;
        padding: 40px 18px;
        margin-left: 74px;
    }
    #access .text {
        width: 1040px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 80px;
    }
    #access .text div {
        width: 480px;
        font-size: 24px;
        line-height: 38.4px;
        padding: 20px;
        margin-bottom: 20px;
    }
    #access .text div:nth-child(4) strong { /* PCのみEASYCARD削除 */
        display: none;
    }
    #access .card {
        width: 100%; /* 忘れず親に100%指定 */
    }
    #access .card img {
        width: 246px;
        margin-left: 730px;
    }
    #access .maxImg img {
        width: 1160px;
        height: 336px;
    }
    .accessTop {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .accessBottom {
        width: 400px;
    }




    /* ------- footer ------- */


    #footer {
        font-size: 20px;
    }
    .footerflag {/* 旗画像 */
        width: 64px;
        height: 48px;
        margin-top: 20px;
    }
    .footer-container {
        display: flex;  /*3列にするためにフレックスにしてます*/
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin:0 auto;
        position:relative;
    }
    .footerColumn {
        flex: 1; /*　3カラムの幅を均一にしています*/
        text-align: center;
    }
    .footerlogo {
        position:relative;
        right:350px;
        bottom: -50px;
    }
    .snsIconSpace {
        position:relative;
        right: 100px;
        bottom: -100px;
    }
    .footerColumn .snsIcon {
        display: flex;
        justify-content: center;
    }
    .footerlogo img {
        width: 246px;
        height:103px;
    }
    .snsIconSpace  {
        width: 183px;
        height:32px;
        justify-content: space-between;
    }
    .snsIconSpace img:hover {
        opacity: 0.5;
        transform: translateY(-5px);
        transition: transform 0.5s ease;
    }
    .footerMenu {
        margin-left:103px;
    }
    .footerMenu li {
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 12px;
    }
    .pagetop { /*PCでのpage top iconの位置と大きさ*/
        right: 20px;
        width: 100px;
        height:100px;
    }
    .Copyright {
        font-size: 12px;
    }



}
